<!DOCTYPE html>
 
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<html>
 
<body>
    <img src="~/Image/schoollogo.jpg" alt="logo"/> 
    <p></p>
   <label> Welcome to HSNU Alumni Contacts App !</label>
    <p></p>
   <label> 歡迎來到 師大附中校友通訊錄! 請先註冊或登錄</label>
</body>
</html>
