
@{
    ViewBag.Title = "Agreement";
}

<h2>Agreement</h2>

<form method="post">

    <p>
        Do you agree (同意)? <input type="checkbox" id="agree" name="agree"/> 
    </p>

    @{ 
        if (System.Web.Configuration.WebConfigurationManager.AppSettings["Type"] == "Land")
        {
            <p>
                請回答問題: 本班導師是甚麼名字(請寫全名) ? 
            </p>

            <input type="text" id="answer" name="answer"/> 
        }
    }

    <input type="submit" value="Submit" class="btn btn-primary"/> 
</form>



