
@{
    ViewBag.Title = "Agreement";
}

<h2>Agreement</h2>

<form method="post">

    <p>
        Do you agree (同意)? <input type="checkbox" id="agree" name="agree"/> 
    </p>

    <input type="submit" value="Submit" class="btn btn-primary"/> 
</form>



