
@{
    ViewBag.Title = "Agreement";
}

<h2>Agreement (同意書)</h2>

<form method="post">
    <p>
        本網站資料之收集 涉及個人資料之保護 請於登入前 詳讀下列條款，並勾選同意。
        本通訊錄僅收集有限之個人資料 供同屆同學互相通訊之用 不涉及任何商業行為。
        非當事人或經當事人同意 不得任意登載、修改或刪除當事人之資料。
        於本網站任何之登載皆視為同意本網站得紀錄蒐集該資料 並同意於本網站公示之。
        登錄者視為同意本網站之資料可能涉及國際傳輸。
    </p>

    <p>
        Do you agree (同意)? <input type="checkbox" id="agree" name="agree"/> 
    </p>

    @{ 
        if (System.Web.Configuration.WebConfigurationManager.AppSettings["Type"] == "Land")
        {
            <p>
                請回答問題: 本班導師是甚麼名字(請寫全名) ? 
            </p>

            <input type="text" id="answer" name="answer"/> 
        }
    }

    <input type="submit" value="Submit" class="btn btn-primary"/> 
</form>



