<!DOCTYPE html>
<style>
    .selected {
        background-color: pink;
    }

</style> 
<html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>


<body>
    <div  class="container" ng-app="mainapp" ng-controller="serviceCtrl">
    <br/>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="container-fluid">
                    <div class="row">
                        選擇班號:
                        <select ng-model="classDropdown">
                            <option value="618">618</option>
                            <option value="619">619</option>
                            <option value="620">620</option>
                            <option value="621">621</option>
                        </select>
                        <i class="glyphicon glyphicon-search"></i>
                        <input type="text" placeholder="Search" ng-model="search">
                    </div>
                </div>
            </div>
        </div>
    </form>
        
       <table class="table table-bordered table-condensed">
         
              <tr>
                  <th>序號</th>
                  <th>照片</th>
                  <th>班號</th>
                  <th>座號</th>
                  <th>姓名</th>
                  <th>英文名</th>
                  <th>性別</th>
                  <th>聯絡狀態</th>
                  <th>手機</th>
                  <th>電郵</th>
                  <th>地址</th>
                  <th>公司</th>
                  <th>職稱</th>
                  <th>家中電話</th>
                  <th>臉書帳號</th>
                  <th>Line帳號</th>
                  <th>備註</th>
                  <th>編輯</th>
              </tr>
              <tr ng-repeat="x in list | filter:search" ng-class="{selected: x.Status === '已歿'}">
                  <td>{{ $index + 1 }}</td>
                  <td><img ng-src="../Image/{{x.PhotoId}}" alt="Photo" width="50" height="50" /></td>
                  <td>{{ x.ClassId }}</td>
                  <td>{{ x.SeatNumber }}</td>
                  <td>{{ x.Name }}</td>
                  <td>{{ x.EnglishName }}</td>
                  <td><img ng-src="../Image/{{x.Gender == true?'male.png':'female.png'}}" alt="Gender" width="50" height="50" /></td>
                  <td>{{ x.Status }}</td>
                  <td>{{ x.CellPhone }}</td>
                  <td>{{ x.Email }}</td>
                  <td>{{ x.HomeAddress }}</td>
                  <td>{{ x.Company }}</td>
                  <td>{{ x.Position }}</td>
                  <td>{{ x.HomePhone }}</td>
                  <td>{{ x.FaceBookAccount }}</td>
                  <td>{{ x.LineAccount }}</td>
                  <td>{{ x.Notes }}</td>
                  <td> <button ng-click="setSelected(x)" class="btn btn-sm"> Edit </button> </td>
              </tr>
        </table>

        <!-- The actual modal template, just a bit o bootstrap -->
        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('No')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Contact</h3>
                            <div class="modal-sm">
                                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-responsive">
                               
                                <tr>
                                    <td colspan="2">
                                        <img ng-src="../Image/{{data.PhotoId}}" alt="Photo" width="200" height="200"/>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        上傳照片:
                                    </td>
                                    <td>
                                        <input type="file" id="file" name="file" accept="image/*" />
                                        <button ng-click="add()">Upload Photo</button> <label>Please limit to less 500k size</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        班號:
                                    </td>
                                    <td>
                                        {{data.ClassId}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        姓名:
                                    </td>
                                    <td>
                                        {{data.Name}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        座號:
                                    </td>
                                    <td>
                                        <input type="number" ng-model="data.SeatNumber" /> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        英文名:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.EnglishName" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        性別:
                                    </td>
                                    <td>
                                              <table>
                                                  <tr>
                                                      <td>
                                                          <label>
                                                              <input type="radio" name="genderm" ng-value="true" ng-model="data.Gender">
                                                              <img ng-src="../Image/male.png" alt="Photo" width="50" height="50" />
                                                          </label>
                                                      </td>
                                                      <td>
                                                          <label>
                                                              <input type="radio" name="genderf" ng-value="false" ng-model="data.Gender">
                                                              <img ng-src="../Image/female.png" alt="Photo" width="50" height="50" />
                                                          </label>
                                                      </td>
                                                  </tr>

                                              </table>                                      
                       
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        聯絡狀態:
                                    </td>
                                    <td>
                                        <select name="singleSelect" id="singleSelect" ng-model="data.Status">
                                            <option value="">---Please select---</option> <!-- not selected / blank option -->
                                            <option value="保持聯絡" style="color:blue">保持聯絡</option> <!-- interpolation -->
                                            <option value="失聯" style="color:slategray">失聯</option>
                                            <option value="已歿" style="color:red">已歿</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        生日:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Birthday"/> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        手機:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.CellPhone" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        電子郵件:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Email" ng-required="true"/> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        住家地址:
                                    </td>
                                    <td>
                                        <textarea type="text" ng-model="data.HomeAddress" class="form-control" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        住家電話:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.HomePhone" /> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        公司名:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Company" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        職稱:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Position" /> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        辦公室地址:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.OfficeAddrss" /> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        臉書帳號:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.FaceBookAccount" /> 
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Line帳號:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.LineAccount" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        備註:
                                    </td>
                                    <td>
                                        <textarea ng-model="data.Notes" class="form-control" />
                                    </td>
                                </tr>


                            </table>
                         
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

    </div>

  

</body>
</html>


 


<script>

    var app = angular.module('mainapp', ['angularModalService'])

    app.value("selectedclassId", "100");

    app.value("data", {
        ClassId: '100',
        SeatNumber:'', 
        Name: 'Test',
        EnglishName: '',
        Gender: '',
        Status: '',
        Birthday: '',
        Notes: '',
        CellPhone: '',
        HomePhone: '',
        OfficePhone: '',
        Email: '',
        FaceBookAccount: '',
        LineAccount: '',
        Company: '',
        Position: '',
        HomeAddress: '',
        OfficeAddrss: '',
        PhotoId: '',
        ModifiedUser: '',
        ModifiedDate: ''
    });

    app.controller('serviceCtrl', function ($rootScope, $scope, $http, ModalService, data) {

        $scope.$watch('classDropdown', function () {

            selectedclassId = $scope.classDropdown;

        $http.get("/api/classmates/" + $scope.classDropdown)
        .error(function (error) {
            alert(error);
        })
        .success(function (response) {
            
            $scope.list = response;
            $scope.myVar = false;
            $scope.itemSelected = null;
            $scope.setSelected = function (itemSelected) {
                $scope.itemSelected = itemSelected;
                data.Name = itemSelected.Name;
                data.Birthday = itemSelected.Birthday;
                data.CellPhone = itemSelected.CellPhone;
                data.ClassId = itemSelected.ClassId;
                data.Company = itemSelected.Company;
                data.Email = itemSelected.Email;
                data.EnglishName = itemSelected.EnglishName;
                data.FaceBookAccount = itemSelected.FaceBookAccount;
                data.Gender = itemSelected.Gender;
                data.HomeAddress = itemSelected.HomeAddress;
                data.HomePhone = itemSelected.HomePhone;
                data.LineAccount = itemSelected.LineAccount;
                data.ModifiedDate = itemSelected.ModifiedDate;
                data.ModifiedUser = itemSelected.ModifiedUser;
                data.Notes = itemSelected.Notes;
                data.OfficeAddrss = itemSelected.OfficeAddrss;
                data.OfficePhone = itemSelected.OfficePhone;
                data.PhotoId = itemSelected.PhotoId;
                data.Position = itemSelected.Position;
                data.SeatNumber = itemSelected.SeatNumber;
                data.Status = itemSelected.Status;
                
                ModalService.showModal({
                    templateUrl: 'modal.html',
                    controller: 'ModalController'
                }).then(function (modal) {
                    modal.element.modal();
                    modal.close.then(function (result) {
                       // $scope.message = "You said " + result;
                        alert('modal.close'); 
                    });
                });
            };
        }
        )
        });

        var refreshListener = $rootScope.$on('refresh', function () {

            selectedclassId = $scope.classDropdown;

            $http.get("/api/classmates/" + $scope.classDropdown)
            .error(function (error) {
                alert(error);
            })
            .success(function (response) {
                  $scope.list = response;
            }
            )

        });

        $scope.$on('$destroy', refreshListener);
        
    });

    app.controller('ModalController', function ($rootScope, $scope, $http, data) {
       
        $scope.data = data;

        $scope.add = function () {
            var f = document.getElementById('file').files[0];

            var fd = new FormData();

            fd.append("uploadedFile", f);

            $http
             .post("../api/classmate/uploadphoto", fd, {
                 headers: {
                     'Content-Type': undefined
                 },
                 transformRequest: angular.identity
             })
             .error(function (error) {
                 alert(error);
             })
             .success(function (response) {
                 data.PhotoId = response;
                 f = null; 
             });
        }

        $scope.close = function (result) {
            // close(result, 500); // close, but give 500ms for bootstrap to animate
            if (result != null && result != 'No') {

                $http.post("/api/classmate/AddorUpdate", result)
                .error(function (e) {
                    alert(e);
                })
                .success(function (response) {
                    alert("Data is Updated.");
                    $rootScope.$broadcast('refresh');
                    //$scope.$emit('refresh', { message: 'test' });
                 });


            }
           
        };

        

    });
  

</script>