<!DOCTYPE html>
<style>
    .passaway {
        background-color: pink;
    }

    .lost {
        background-color: lightgreen;
    }
</style>
<html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>


<body>
    <div class="container" ng-app="mainapp" ng-controller="serviceCtrl">
        <br />
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="button" ng-click="addNew()" value="新增" />
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="text" placeholder="Search" ng-model="search">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span>可輸入任何字串搜尋同學 | 雙點擊滑鼠於同學欄位上看通訊內容 | 點擊 HyperLink欄位排序</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <table class="table table-bordered table-hover">

            <tr>
                <th>序號</th>
                <th>照片</th>
                <th><a href="" ng-click="reverse=!reverse;order('Name',reverse)">姓名</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('EnglishName',reverse)">英文名</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('Gender',reverse)">性別</a></th>
                <th><a href="" ng-click="reverse=!reverse;order('Status',reverse)">聯絡狀態</a></th>
                <th>手機</th>
                <th>電郵</th>
                <th>地址</th>
                <th>公司</th>
                <th>職稱</th>
                <th>家中電話</th>
                <th>臉書帳號</th>
                <th>Line帳號</th>
                <th>備註</th>
                <th><a href="" ng-click="reverse=!reverse;order('ModifiedDate',reverse)">更新日期</a></th>
                <th>詳細</th>
                <th>編輯</th>
            </tr>
            <tr ng-repeat="x in list | filter:search" ng-class="{ 'lost': x.Status === '失聯' , 'passaway': x.Status === '已歿'}" ng-dblclick="popUpItem(x)">
                <td>{{ $index + 1 }}</td>
                <td><a href="../Image/{{x.PhotoId}}" target="_blank"><img ng-src="../Image/{{x.PhotoId}}" alt="Photo" width="50" height="50" /></a></td>
                <td>{{ x.Name }}</td>
                <td>{{ x.EnglishName }}</td>
                <td><img ng-src="../Image/{{x.Gender == 'M'?'male.png':'female.png'}}" alt="Gender" width="50" height="50" /></td>
                <td>{{ x.Status }}</td>
                <td ng-hide={{x.Hide}}>{{ x.CellPhone }}</td>
                <td ng-hide={{x.Hide}}><a href="mailto:{{ x.Email }}">{{ x.Email }}</a></td>
                <td ng-hide={{x.Hide}}>{{ x.HomeAddress }}</td>
                <td ng-hide={{x.Hide}}>{{ x.Company }}</td>
                <td ng-hide={{x.Hide}}>{{ x.Position }}</td>
                <td ng-hide={{x.Hide}}>{{ x.HomePhone }}</td>
                <td ng-hide={{x.Hide}}>{{ x.FaceBookAccount }}</td>
                <td ng-hide={{x.Hide}}>{{ x.LineAccount }}</td>
                <td ng-hide={{x.Hide}}>{{ x.Notes }}</td>
                <td ng-hide={{x.Hide}}>{{ x.ModifiedDate}}</td>
                <td ng-hide={{x.Hide}}> <button ng-click="popUpItem(x)" class="btn btn-sm"> View </button> </td>
                <td ng-hide={{x.Hide}}> <button ng-click="setSelected(x)" class="btn btn-sm"> Edit </button> </td>
                <td ng-show={{x.Hide}} colspan="12" style="color:lightgrey"> <span>設為隱藏模式 (若要開放 請通知 leeyinheng@gmail.com)</span></td>
            </tr>
        </table>


        <script type="text/ng-template" id="popup.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <table class="table">
                                <tr>
                                    <td colspan="4">
                                        <a href="../Image/{{data.PhotoId}}" target="_blank"><img ng-src="../Image/{{data.PhotoId}}" alt="Photo" width="200" height="200" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        姓名:
                                    </td>
                                    <td>
                                        {{data.Name}}
                                    </td>
                                    <td>
                                        英文名:
                                    </td>
                                    <td>
                                        {{data.EnglishName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        性別:
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="genderm" value="M" ng-model="data.Gender">
                                                        <img ng-src="../Image/male.png" alt="Photo" width="50" height="50" />
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="genderf" value="F" ng-model="data.Gender">
                                                        <img ng-src="../Image/female.png" alt="Photo" width="50" height="50" />
                                                    </label>
                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                    <td>
                                        聯絡狀態:
                                    </td>
                                    <td>
                                        {{data.Status}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        生日:
                                    </td>
                                    <td>
                                        {{data.Birthday}}
                                    </td>
                                    <td>
                                        手機:
                                    </td>
                                    <td>
                                        {{data.CellPhone}}
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        電子郵件:
                                    </td>
                                    <td>
                                        {{data.Email}}
                                    </td>
                                    <td>
                                        住家電話:
                                    </td>
                                    <td>
                                        {{data.HomePhone}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        住家地址:
                                    </td>
                                    <td colspan="4">
                                        {{data.HomeAddress}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        公司名:
                                    </td>
                                    <td>
                                        {{data.Company}}
                                    </td>
                                    <td>
                                        職稱:
                                    </td>
                                    <td>
                                        {{data.Position}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        辦公室地址:
                                    </td>
                                    <td colspan="3">
                                        {{data.OfficeAddrss}}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        臉書帳號:
                                    </td>
                                    <td>
                                        {{data.FaceBookAccount}}
                                    </td>
                                    <td>
                                        Line帳號:
                                    </td>
                                    <td>
                                        {{data.LineAccount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        備註:
                                    </td>
                                    <td colspan="3">
                                        <textarea ng-model="data.Notes" class="form-control" readonly="readonly" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </script>

        <!-- The actual modal template, just a bit o bootstrap -->
        <script type="text/ng-template" id="modal.html">
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('No')" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Contact</h3>
                            <div class="modal-sm">
                                <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered table-responsive">

                                <tr>
                                    <td colspan="2">
                                        <img ng-src="../Image/{{data.PhotoId}}" alt="Photo" width="200" height="200" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        上傳照片:
                                    </td>
                                    <td>
                                        <input type="file" id="file" name="file" accept="image/*" />
                                        <button ng-click="add()">Upload Photo</button> <label>Please limit to less 500k size</label>
                                    </td>
                                </tr>
                               <tr>
                                    <td>
                                        姓名:
                                    </td>
                                    <td>
                                        <form name="nameForm">
                                            <input type="text" name="userName" ng-model="data.Name" required />
                                            <div role="alert">
                                                <span style="color:red" class="error" ng-show="nameForm.userName.$error.required">
                                                    Required!
                                                </span>
                                            </div>
                                        </form>
                                        
                                    </td>
                                </tr>
                                                             
                                <tr>
                                    <td>
                                        英文名:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.EnglishName" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        性別:
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="genderm" value="M" ng-model="data.Gender">
                                                        <img ng-src="../Image/male.png" alt="Photo" width="50" height="50" />
                                                    </label>
                                                </td>
                                                <td>
                                                    <label>
                                                        <input type="radio" name="genderf" value="F" ng-model="data.Gender">
                                                        <img ng-src="../Image/female.png" alt="Photo" width="50" height="50" />
                                                    </label>
                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        聯絡狀態:
                                    </td>
                                    <td>
                                        <select name="singleSelect" id="singleSelect" ng-model="data.Status">
                                            <option value="">---Please select---</option> <!-- not selected / blank option -->
                                            <option value="保持聯絡" style="color:blue">保持聯絡</option> <!-- interpolation -->
                                            <option value="失聯" style="color:slategray">失聯</option>
                                            <option value="已歿" style="color:red">已歿</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        生日:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Birthday" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        手機:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.CellPhone" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        電子郵件:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Email" ng-required="true" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        住家地址:
                                    </td>
                                    <td>
                                        <textarea type="text" ng-model="data.HomeAddress" class="form-control" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        住家電話:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.HomePhone" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        公司名:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Company" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        職稱:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.Position" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        辦公室地址:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.OfficeAddrss" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        臉書帳號:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.FaceBookAccount" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Line帳號:
                                    </td>
                                    <td>
                                        <input type="text" ng-model="data.LineAccount" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        備註:
                                    </td>
                                    <td>
                                        <textarea ng-model="data.Notes" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Modified By:
                                    </td>
                                    <td>
                                        {{data.ModifiedUser}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Modified Date:
                                    </td>
                                    <td>
                                        {{data.ModifiedDate}}
                                    </td>
                                </tr>
                                <tr style="color:red">
                                    <td>
                                        設為隱藏模式: (隱藏通訊資料僅保留班號姓名,一旦啟動便無人可以更改)
                                    </td>
                                    <td>
                                        <input type="checkbox" ng-model="data.Hide">
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </script>

    </div>



</body>
</html>





<script>

    $(function () {
        $('img').on('click', function () {
            $(this).width(1000);
        });
    });


    var app = angular.module('mainapp', ['angularModalService'])

    app.value("selectedclassId", "100");

    app.value("data", {
        ClassId: '100',
        SeatNumber:'',
        Name: 'Test',
        EnglishName: '',
        Gender: '',
        Status: '',
        Birthday: '',
        Notes: '',
        CellPhone: '',
        HomePhone: '',
        OfficePhone: '',
        Email: '',
        FaceBookAccount: '',
        LineAccount: '',
        Company: '',
        Position: '',
        HomeAddress: '',
        OfficeAddrss: '',
        PhotoId: 'profile.png',
        ModifiedUser: '',
        ModifiedDate: ''
    });

    app.controller('serviceCtrl', function ($rootScope, $scope, $http,$filter, ModalService, data) {
              

        angular.element(document).ready(function () {
  
        $http.get("/api/classmates/93LandEconomics")
        .error(function (error) {
            alert(error);
        })
        .success(function (response) {

            var orderBy = $filter('orderBy');

            $scope.list = response;
            $scope.myVar = false;
            $scope.itemSelected = null;
            $scope.setSelected = function (itemSelected) {
                $scope.itemSelected = itemSelected;
                data.Name = itemSelected.Name;
                data.Birthday = itemSelected.Birthday;
                data.CellPhone = itemSelected.CellPhone;
                data.ClassId = itemSelected.ClassId;
                data.Company = itemSelected.Company;
                data.Email = itemSelected.Email;
                data.EnglishName = itemSelected.EnglishName;
                data.FaceBookAccount = itemSelected.FaceBookAccount;
                data.Gender = itemSelected.Gender;
                data.HomeAddress = itemSelected.HomeAddress;
                data.HomePhone = itemSelected.HomePhone;
                data.LineAccount = itemSelected.LineAccount;
                data.ModifiedDate = itemSelected.ModifiedDate;
                data.ModifiedUser = itemSelected.ModifiedUser;
                data.Notes = itemSelected.Notes;
                data.OfficeAddrss = itemSelected.OfficeAddrss;
                data.OfficePhone = itemSelected.OfficePhone;
                data.PhotoId = itemSelected.PhotoId;
                data.Position = itemSelected.Position;
                data.SeatNumber = itemSelected.SeatNumber;
                data.Status = itemSelected.Status;

                ModalService.showModal({
                    templateUrl: 'modal.html',
                    controller: 'ModalController'
                }).then(function (modal) {
                    modal.element.modal();
                    modal.close.then(function (result) {
                       // $scope.message = "You said " + result;
                        alert('modal.close');
                    });
                });
            };


            $scope.addNew = function () {
                data.Name = '';
                data.Birthday = '';
                data.CellPhone = '';
                data.ClassId = '93LandEconomics';
                data.Company = '';
                data.Email = '';
                data.EnglishName = '';
                data.FaceBookAccount = '';
                data.Gender = 'M';
                data.HomeAddress = '';
                data.HomePhone = '';
                data.LineAccount = '';
                data.ModifiedDate = '';
                data.ModifiedUser = '';
                data.Notes = '';
                data.OfficeAddrss = '';
                data.OfficePhone = '';
                data.PhotoId = 'profile.png';
                data.Position = '';
                data.SeatNumber = '';
                data.Status = '保持聯絡';

                ModalService.showModal({
                    templateUrl: 'modal.html',
                    controller: 'ModalController'
                }).then(function (modal) {
                    modal.element.modal();
                    modal.close.then(function (result) {
                        // $scope.message = "You said " + result;
                        alert('modal.close');
                    });
                });
            };

            $scope.order = function (predicate, reverse) {
                $scope.list = orderBy($scope.list, predicate, reverse);
            };

            $scope.list = orderBy($scope.list, 'SeatNumber', false);

            $scope.popUpItem = function (itemSelected) {
                data.Name = itemSelected.Name;
                data.Birthday = itemSelected.Birthday;
                data.CellPhone = itemSelected.CellPhone;
                data.ClassId = itemSelected.ClassId;
                data.Company = itemSelected.Company;
                data.Email = itemSelected.Email;
                data.EnglishName = itemSelected.EnglishName;
                data.FaceBookAccount = itemSelected.FaceBookAccount;
                data.Gender = itemSelected.Gender;
                data.HomeAddress = itemSelected.HomeAddress;
                data.HomePhone = itemSelected.HomePhone;
                data.LineAccount = itemSelected.LineAccount;
                data.ModifiedDate = itemSelected.ModifiedDate;
                data.ModifiedUser = itemSelected.ModifiedUser;
                data.Notes = itemSelected.Notes;
                data.OfficeAddrss = itemSelected.OfficeAddrss;
                data.OfficePhone = itemSelected.OfficePhone;
                data.PhotoId = itemSelected.PhotoId;
                data.Position = itemSelected.Position;
                data.SeatNumber = itemSelected.SeatNumber;
                data.Status = itemSelected.Status;


                ModalService.showModal({
                    templateUrl: 'popup.html',
                    controller: 'PopupController'
                }).then(function (modal) {
                    modal.element.modal();
                });
            };
        }
        )
        });

        var refreshListener = $rootScope.$on('refresh', function () {

            selectedclassId = $scope.classDropdown;

            $http.get("/api/classmates/93LandEconomics")
            .error(function (error) {
                alert(error);
            })
            .success(function (response) {
                  $scope.list = response;
            }
            )

        });

        $scope.$on('$destroy', refreshListener);

    });

    app.controller('ModalController', function ($rootScope, $scope, $http, data) {

        $scope.data = data;



        $scope.add = function () {
            var f = document.getElementById('file').files[0];

            var fileId = data.ClassId + data.Name;

            var fd = new FormData();

            fd.append("uploadedFile", f);

            $('#file').val('');

            $http
             .post("../api/classmate/uploadphoto?fileId=" + fileId, fd, {
                 headers: {
                     'Content-Type': undefined
                 },
                 transformRequest: angular.identity
             })
             .error(function (error) {
                 alert(error);
             })
             .success(function (response) {
                 data.PhotoId = response;

             });
        }

        $scope.close = function (result) {
            // close(result, 500); // close, but give 500ms for bootstrap to animate

            if (result != null && result.Name == '')
            {
                alert('Name cannot be empty! New Contact will not be saved');
                return; 
            }

            if (result != null && result != 'No' ) {

                $http.post("/api/classmate/AddorUpdate", result)
                .error(function (e) {
                    alert(e);
                })
                .success(function (response) {
                    alert("更新完成");
                    $rootScope.$broadcast('refresh');
                    //$scope.$emit('refresh', { message: 'test' });
                 });


            }

        };



    });


    app.controller('PopupController', function ($scope, data) {
        $scope.data = data;
    });


</script>